body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #a135c2;
    background-blend-mode:color-dodge;
    /* background-image: url('https://source.unsplash.com/1600x900/?landscape'); */
    font-size: 120%;
  }
  .card{
    background: #046b79;
    color: white;
  }
  .search {
    padding: 2em;
    border-radius: 40px;
    width: 80%;
    max-width: 500px;
    margin: 1em;
  }
  
  .weather{
    
    padding: 0.1em;
    border-radius: 40px;
    width: 300px;
    max-width: 400px;
    margin: auto;
  }
  /* .search {
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 48px;
    width: 48px;
    outline: none;
    background: #cfc6c6f1;
    color: black;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  input.search-bar {
    border: none;
    outline: none;
    padding: 0.5em 0.8em;
    border-radius: 24px;
    background: #cfc6c6f1;
    color: black;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
  }
  
  button:hover {
    background: #3635356b;
  }
  
  h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
  }
  
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    
  }
  
  .description {
    text-transform: capitalize;
    margin-left: 8px;
  }
  
  .weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
  }
  
  .weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
  }
  